HTML/xml/clasificacion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="clasificacion">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="equipo" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="posicion" type="xs:int" />
                            <xs:element name="nombre" type="xs:string" />
                            <xs:element name="pj" type="xs:int" />
                            <xs:element name="pg" type="xs:int" />
                            <xs:element name="pe" type="xs:int" />
                            <xs:element name="pp" type="xs:int" />
                            <xs:element name="gf" type="xs:int" />
                            <xs:element name="gc" type="xs:int" />
                            <xs:element name="dif" type="xs:string" />
                            <xs:element name="pts" type="xs:int" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>