HTML/xml/jornadas/jornada.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="jornada">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="partido" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="equipoLocal" type="xs:string" />
                            <xs:element name="escudoLocal" type="xs:string" />
                            <xs:element name="equipoVisitante" type="xs:string" />
                            <xs:element name="escudoVisitante" type="xs:string" />
                            <xs:element name="golesLocal" type="xs:int" />
                            <xs:element name="golesVisitante" type="xs:int" />
                            <xs:element name="fecha" type="xs:string" />
                            <xs:element name="estado" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>